@use "../abstracts/index.scss" as *;

.dropdown {
  position: relative;
  background-color: $dropdown-color;
  border-radius: 6px;
  min-width: 200px;
  cursor: pointer;

  &-button {
    svg {
      font-size: 1.1rem;
    }
  }

  &-list {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dropdown-color;
    z-index: 9;
    max-height: 200px;
    min-width: 250px;
    overflow: auto;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;

    &.active {
      opacity: 1;
      pointer-events: all;
      top: 120%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      height: 50px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: #3c3f5a;
        padding-left: 20px;
      }
    }
  }

  //--- Responsive
  @include responsive-max(map-get($breakpoints, md)) {
    &-list {
      width: 100%;
    }
  }
}
