@use "../abstracts/index.scss" as *;

.news {
  &-list {
    &-item {
      background-color: $dropdown-color;
      border-radius: 15px;

      &-image {
        height: 150px;
        border-radius: 15px;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(35deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
          transition: all 0.2s;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
          object-fit: cover;
        }

        .absolute {
          position: absolute;
          bottom: 10px;
          left: 10px;
          background-color: rgb(136, 12, 43);
          border-radius: 10px;
          font-size: 0.9rem;
          z-index: 2;
        }
      }

      p {
        font: {
          size: small;
          weight: bold;
        }
      }

      .btn-blue {
        font-size: small;
      }
    }
  }

  &-modal {
    z-index: 99;
    color: #000;

    &-background {
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &-content {
      background-color: #fff;
      width: 95%;
      max-width: 900px;
      min-height: 300px;
      max-height: 800px;
      border-radius: 10px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      svg {
        font-size: 1.7rem;
        cursor: pointer;
      }

      figure {
        border-radius: 10px;

        img {
          border-radius: inherit;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  //--- Responsive
  @include responsive-max(map-get($breakpoints, md)) {
    &-modal {
      &-content {
        max-height: 500px;
      }
    }
  }
}
