@use "../abstracts/index.scss" as *;

:root {
  --page-font-size: 17px;
}

:is(html, body) {
  font-size: var(--page-font-size);
}

.page {
  padding-top: 70px;
}

body {
  background-color: $body-back-color;
}

.gr_container {
  max-width: 1500px !important;
}

figure {
  &.hover {
    position: relative;
    overflow: hidden;

    img {
      transition: all 0.2s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.text {
  font-size: 1rem;
  line-height: 30px;
}

//--- Create text color
@each $key, $value in $text-colors {
  .txt-#{$key} {
    color: $value;
  }
}

//--- Responsive
@include responsive-max(map-get($breakpoints, md)) {
  :root {
    --page-font-size: 15px;
  }
}
